@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* - Mobile: 375px
- Desktop: 1440px */
:root {
  /* #### Text */
  --very-dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient: */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* #### Text */
--very-dark-grayish-blue: hsl(237, 12%, 33%);
--dark-grayish-blue: hsl(240, 6%, 50%);

/* #### Dividers */
--light-grayish-blue: hsl(240, 5%, 91%);
}


body {
  box-sizing: border-box;
  min-height: calc(100vh - 0.1px);
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background-color: var(--soft-violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column; 
  justify-items: center;
  padding: 1rem;
}

.container picture img {

}

.question-card{
  max-height: 650px;
  max-width: 290px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
  padding-bottom: 35px;
}

.question-card h1 {
  text-align: center;
  padding-top: 1rem;
}

.single-question-card {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 100;
  border-bottom: 1px solid var(--light-grayish-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: column;
  color: var(--dark-grayish-blue);
}

.question-title {
  font-weight: 400;
}

.question-title.active {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  
}

.arrow {
  margin-top: 15px;
  margin-left: 10px;
}

.chevron {
  color: var(--soft-red);
}

@media(min-width: 768px) {
  .question-card {
    max-width: 750px;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto;
  }
  .hero-image {
    flex: 1;
    padding-right: 2rem;
  }
  .single-question-card {
    flex: 1;
    flex-direction: ;
  }
}


